.container{
    /* display: grid; */
    flex-direction: column;
    height: 320px;
    padding: 10px;
    /* justify-content: space-around; */
    /* width: max-content; */
    overflow-y: scroll;
    /* direction: rtl ; */
}