@font-face{
    font-family: iran-sans;
    src: url(../assets/IRANSansWeb.woff2);
}
.inputBox{
    display: flex;
    flex-direction: column;
}
.inputBox button{
    margin: 20px;
}
h2{
    font-family: iran-sans;
    color: #000;
    direction: rtl;
}