@font-face{
    font-family: b-kamran;
    src: url(../assets/B\ Kamran\ Bold_0.ttf);
}
.container{
    display: flex;
    direction: rtl;
    padding: 10px;
    font-family: b-kamran;
    font-size: 16pt;
    border-bottom: 1px solid silver;
    margin: 10px;
}
.container div{
    padding: 5px;
}