@font-face{
    font-family: b-kamran;
    src: url(../assets/B\ Kamran\ Bold_0.ttf);
}
.container{
    display: flex;
    direction: rtl;
    padding: 10px;
    font-family: b-kamran;
    font-size: 16pt;
    border-bottom: 1px solid silver;
    margin: 10px;
}
.container div{
    padding: 5px;
}
.icons img{
    padding: 10px;
}
.icons{
    display: flex;
    padding: 0px 10px;
    align-items: center;
}
.moreBox{
    margin-top: 10px;
    padding: 10px;
    flex-direction: column;
    border: 1px solid rgb(239, 239, 239);
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    border-radius: 15px;
}
.closeMore{
    display: none;
}
.field{
    font-family: b-kamran;
    font-size: 19pt;
    display: flex;
    align-items: center;
}
.field img{
    height: 20px;
    margin-left: 10px;
}