.box{
    position: absolute;
    background-color: white;
    width: fit-content;
    width: 600px;
    min-height: 400px;
    justify-content: center;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.container{
    direction: rtl;
    padding: 10px;
    display: flex;
    justify-content: center;
    min-height: 270px;
}
.header{
    display: flex;
    padding:  15px 15px 0;
    border-bottom: 1px solid silver;
}
.header div{
    padding: 5px 20px;
}
.activeBtn{
    background-color: #06b6d4;
    transition: transform 5s;
    /* transform: translateX(50%); */
    color: white;
    border-radius: 5px 5px 0 0;
    cursor: none;
    padding: 5px;
}
.deActiveBtn{
    cursor: pointer;
}
.pageButton{
    margin: 0 10px;
}
.userInfo{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
}
.updateUserBtn:hover{
    background-color: #099fb9;
    transition: background-color ease-in 400ms;
}
.transactions{
    display: flex;
    /* min-height: 400px;
    min-width: 400px; */
    flex-direction: column;
}