.mainContainer{
  display: flex;
  width: 85vw;
}
.container {
  width: 100%;
  direction: rtl;
  margin: 30px 50px;
  display: flex;
  flex-wrap: wrap;
}
.logoContainer{
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
}
.logo{
  height: 350px;
}