@font-face{
    font-family: iran-sans;
    src: url(../assets/IRANSansWeb.woff2);
}
.mainContainer{
    display: flex;
    /* border-bottom: 1px solid silver; */
    font-family: iran-sans;
    margin: 10px;
    width: calc(85% - 5px);
    direction: rtl;
    justify-content: center;
}
.container{
    display: flex;
    box-shadow: 1px 1px 10px rgb(202, 202, 202);
    justify-content: center;
    width: 90%;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;
}

.date{
    direction: ltr;
    width: 200px;
    margin: 10px 50px;
}
.amount{
    width: 100px;
    margin: 10px 50px;
}
.up{
    width: 110px;
    height: fit-content;
    margin: 10px 30px;
    color: red;
    border: 1px solid red;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.noPay{
    width: 110px;
    height: fit-content;
    margin: 10px 30px;
    color: #006eff;
    border: 1px solid #006eff;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.down{
    width: 110px;
    margin: 10px 30px;
    height: fit-content;
    color: green;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.amountUp{
    width: 100px;
    margin: 10px 50px;
    color: red;
}
.amountDown{
    width: 100px;
    margin: 10px 50px;
    color: green;
}
.for{
    width: 200px;
    margin: 10px 50px;
}
.receiptTransaction{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .mainContainer{
    display: flex;
    border-bottom: 1px solid silver;
    width: calc(85% - 5px);
    direction: rtl;
    justify-content: center;
}
.container{
    display: flex;
    padding: 10px;
}

.date{
    width: 150px;
    margin: 20px 50px;
}
.amount{
    width: 100px;
    margin: 20px 50px;
}
.up{
    width: 70px;
    height: fit-content;
    margin: 20px 50px;
    color: red;
    border: 1px solid red;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.noPay{
    width: 110px;
    height: fit-content;
    margin: 20px 30px;
    color: #006eff;
    border: 1px solid #006eff;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.down{
    width: 70px;
    margin: 20px 50px;
    color: green;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.amountUp{
    width: 100px;
    margin: 20px 50px;
    color: red;
}
.amountDown{
    width: 100px;
    margin: 20px 50px;
    color: green;
}
.for{
    width: 200px;
    margin: 20px 50px;
} */