.mainContainer{
    display: flex;
    justify-content: center;
    max-width: 80vw;
}
.container {
    direction: rtl;
    flex-wrap: wrap;
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
}

.logoContainer{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 350px;
}