*{
    margin: 0px;
    padding: 0px;
}
@font-face{
    font-family: b-kamran;
    src: url(../assets/B\ Kamran\ Bold_0.ttf);
}
@font-face{
    font-family: iran-sans;
    src: url(../assets/IRANSansWeb.woff2);
}
@font-face{
    font-family: panton-blackcaps;
    src: url(../assets/Panton-BlackCaps.otf);
}
.main{
    direction: rtl;
    position: fixed;
    right: 0px;
    float: right;
    min-height: 100vh;
    width: 15vw;
    background-color: #fff;
    border-left: 1px solid #e5eaef;
    z-index: 100;
}

.Loading{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fieldsContainer{
    margin: 35px 0px;
    font-family: b-kamran;
}
.links{
    text-decoration: none;
    color: #676d7c;
}
.container{
    padding: 5px 15px;
    margin: 5px;
    display: flex;
    align-items: center;
}
.container:hover{
    border-radius: 20px 0 0 20px;
    background-color: #4f91e6;
    /* opacity: 0.8; */
    color: #fff;
}

.profile{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    border-bottom: 1px solid #e5eaef;
}
.imageContainer{
    display: flex;
    justify-content: center;
}
.fullname{
    margin-top: 10px;
    font-family: panton-blackcaps;
    display: flex;
    justify-content: center;
}
.profileImage{
    justify-content: center;
    height: 50px;
    width: 50px;
}
.field{
    font-weight: bolder;
    font-size: 18pt;
    padding: 0px 10px;
}
.icon{
    fill: aqua;
    height: 25px;
}
.wallet{
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: iran-sans;
    font-weight: bold;
    margin: 15px;
}
.wallet svg{
    height: 30px;
    padding: 0 5px;
}
/* @media (min-width: 400px) and (max-width: 1800px) {
    .field{
        display: none;
    }
    .icon{
        margin: 10px 0px;
        height: 20px;
    }
    .fullname{
        display: none;
    }
    .container{
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }
} */